@using MMB_ASPNET.Models
@model Player
<h2>Create a New Player</h2>
@using (Html.BeginForm("InsertPlayerToDatabase", "Player", "Post"))
{
    <label asp-for="Name" class="control-label">Name</label>
    <input type="text" id="input" name="Name" class="form-control" value="" onchange="this.value = this.value.trim()"/>
    <br>
    <input type="submit" id="button" value="Create Player" class="btn btn-primary" disabled/>
}
 <script>
    let input = document.getElementById("input");
    let btn = document.getElementById("button");

    input.addEventListener("input", function(){
        let flag = true;
        let check = ["!","#","$","%","^","&","*","(",")","+","=","-",",",".","<","'","\"",">","?","/","\\","|","{","}",":",";","  "]
        for(i=0; i<check.length; i++){
            if (this.value.includes(check[i])){
                flag = false;
                break;
            }
        }
        btn.disabled = (this.value === '' || flag === false || this.value.length > 15);
    })
 </script>